
/* 
.tfirst{
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:bold;
}

.first{
    margin-right: 50px;
    color: white;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}

.tsecond{
    font-weight: bold;
   
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.second1{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.second2{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -10px;
}


.second3{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -10px;
}


.second4{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -10px;
}


.tthird{
    font-weight: bold;
    margin-right: 80px;
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.third{
    margin-right: 80px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.allicons{
    color: white;
    font-size: 25px;
    margin-left: 0px;
    
}

.icons{
    margin-right: 20px;
} */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){

.gtouch{
margin-top: 20px;
}
.loc{
margin-top: 20px;
}
} */